<FluentBodyContent>
    <FluentGrid  Justify="JustifyContent.SpaceEvenly | JustifyContent.Center">
        <FluentGridItem xl="3">
            <FluentCard>
                <h3>Login</h3>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xl="3">
            <FluentCard>
                <h3>Login</h3>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xl="3">
            <FluentCard>
                <h3>Login</h3>
            </FluentCard>
        </FluentGridItem>
    </FluentGrid>
</FluentBodyContent>